*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
li,a {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
}
    
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.875rem 0.625rem;
}
    
.logo {
    cursor: pointer;
    margin-right: auto;
}
    
.navlinks {
    list-style: none;
}
    
.navlinks li {
    display: inline-block;
    padding: 0rem 1.25rem;
}
    
.navlinks li a {
    transition: all 0.3s ease 0s;
}
    
.navlinks li a:hover {
    color: #0088a9;
}
    
header {
    background: linear-gradient(
    to bottom,
    hsla(212, 67%, 36%, 1) 0%,
    hsla(206, 70%, 70%, 0) 100%
    );
}
    
nav {
    background: linear-gradient(
    to bottom,
    hsla(212, 67%, 36%, 1) 0%,
    hsla(206, 70%, 70%, 0) 100% hsla(206, 70%, 70%, 0) 85%
    );
}