/* For mobile phones: */
@media only screen and (max-width: 768px) {
  /* generic */
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
    max-width: 35rem;
  }

  div {
    max-width: 35rem;
  }

  p {
    max-width: 35rem;
  }

  .container {
    max-width: 35rem;
    margin: 0 auto;
  }

  .tinySpace {
    margin: 0;
  }

  /* Welcome to the Future */
  #welcomeFuture img {
    max-width: 30rem;
    max-height: 30rem;
  }

  #welcomeFuture {
    text-align: center;
    flex-direction: column;
    max-width: 35rem;
  }

  .futureButton {
    max-height: 25rem;
    max-width: 35rem;
    margin-bottom: 15rem;
  }

  /* Revolution */
  #revolution {
    max-width: 35rem;
  }

  #revolution img {
    display: none;
  }

  #titleWithText {
    text-align: center;
  }

  .howIsItWorking {
    flex-direction: column;
    align-items: center;
  }

  .howIsItWorking article {
    margin-top: 2rem;
    padding: 2rem;
    max-width: 30rem;
    border-radius: 2rem;
    text-align: center;
  }

  .howIsItWorking article h3 {
    margin-bottom: 1rem;
  }

  /* Unlock */
  #unlock {
    height: 30rem;
  }

  #unlock div {
    margin-top: 5rem;
  }

  /* footer */
  footer {
    height: 135rem;
  }

  .footerFlex {
    display: block;
    height: 135rem;
  }

  #leftFooter {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #leftFooter h3 {
    margin-top: 1rem;
  }

  .footerLeftFlex {
    margin-bottom: 1rem;
    width: 25rem;
  }

  .footerLeftFlex p,
  .footerLeftFlex li,
  footer h4,
  footer h3 {
    width: 25rem;
    text-align: center;
    margin: 0;
  }

  #whiteBox {
    width: 35rem;
  }

  .footerLeftFlex a {
    margin-bottom: 2rem;
  }

  .footerLeftFlex div {
    padding-right: 0;
  }

  .surnameFlex {
    display: block;
  }

  .tinyInput,
  .largeInput {
    height: 4rem;
    width: 25rem;
  }

  .footerInput {
    width: 25rem;
  }

  #whiteBox h3 {
    margin: 0;
  }

  #buttonContact {
    width: 25rem;
  }

  #buttonContact input {
    width: 25rem;
    padding: 0;
  }
}
