/* For mobile phones: */
@media only screen and (max-width: 768px) {
  /* generic */
  h2,
  h1 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h2,
  h3 {
    max-width: 35rem;
  }

  div {
    max-width: 35rem;
  }

  p {
    font-size: 1.7rem;
    max-width: 35rem;
  }

  .container {
    max-width: 35rem;
    margin: 0 auto;
  }

  .buttonBuy {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
  }

  main section {
    margin-bottom: 20rem;
  }

  /*Background du menu + menu*/
  .icon {
    position: absolute;
    display: block;
    margin-right: 1.2rem;
    right: 5%;
  }

  #check:checked ~ .icon #open-menu {
    display: none;
  }

  .icon #close-menu {
    display: none;
  }

  #check:checked ~ .icon #close-menu {
    display: block;
  }

  .menu-list {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    height: 0rem;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding-right: 9%;
    gap: 0.5rem;
    backdrop-filter: blur(0.8rem);
  }

  #check:checked ~ .menu-list {
    height: 27.7rem;
  }

  .image-menu-logo {
    position: absolute;
    width: 3rem;
    top: 25%;
    left: 5%;
  }

  /* Key Features */
  #features {
    text-align: center;
  }

  /* Enhance */
  #enhance {
    flex-direction: column;
    text-align: center;
  }

  #enhance img {
    height: 40rem;
    width: 35rem;
    object-fit: fill;
  }

  /* Key Features */
  #features p {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  /* People saying */
  #peopleSaying {
    text-align: center;
  }

  .peopleFlex article {
    flex-direction: column;
    align-items: center;
  }

  /* Unlock */
  #unlock {
    min-height: 30rem;
  }

  #unlock h2 {
    margin-bottom: 5rem;
  }

  /* footer */
  footer {
    height: 135rem;
  }

  footer h3 {
    font-size: 3.2rem;
  }

  footer p,
  footer a {
    font-size: 1.7rem;
  }

  .footerFlex {
    display: block;
    height: 135rem;
  }

  #leftFooter {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #leftFooter h3 {
    margin-top: 1rem;
  }

  .footerLeftFlex {
    margin-bottom: 1rem;
    width: 25rem;
  }

  .footerLeftFlex p,
  .footerLeftFlex li,
  footer h4,
  footer h3 {
    width: 25rem;
    text-align: center;
    margin: 0;
  }

  #whiteBox {
    width: 35rem;
  }

  .footerLeftFlex a {
    margin-bottom: 2rem;
  }

  .footerLeftFlex div {
    padding-right: 0;
  }

  .surnameFlex {
    display: block;
  }

  .tinyInput,
  .largeInput {
    height: 4rem;
    width: 25rem;
  }

  .footerInput {
    width: 25rem;
  }

  #whiteBox h3 {
    margin: 0;
  }

  #buttonContact {
    width: 25rem;
  }

  #buttonContact input {
    width: 25rem;
    padding: 0;
  }
}
