/* For mobile phones: */
@media only screen and (max-width: 768px) {
  /* generic */
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
    max-width: 35rem;
  }

  div {
    max-width: 35rem;
  }

  p {
    max-width: 35rem;
  }

  .container {
    max-width: 35rem;
    margin: 0 auto;
  }

  /* Chip */
  #chip {
    text-align: center;
  }

  /* Exo-Skeleton */
  #exoSkeleton .container {
    flex-direction: column-reverse;
    height: 100rem;
    justify-content: space-around;
    text-align: center;
  }
  #exoSkeleton img {
    height: 30rem;
  }

  /* About us */
  #aboutUs {
    margin-bottom: 30rem;
  }
  #aboutUs .container {
    height: 110rem;
    justify-content: center;
  }

  #aboutUs .container div {
    flex-direction: column;
    justify-content: space-around;
  }

  #aboutUs article,
  #aboutUs h2 {
    margin-bottom: 3rem;
  }
  /* footer */
  footer {
    height: 135rem;
  }

  .footerFlex {
    display: block;
    height: 135rem;
  }

  #leftFooter {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #leftFooter h3 {
    margin-top: 1rem;
  }

  .footerLeftFlex {
    margin-bottom: 1rem;
    width: 25rem;
  }

  .footerLeftFlex p,
  .footerLeftFlex li,
  footer h4,
  footer h3 {
    width: 25rem;
    text-align: center;
    margin: 0;
  }

  #whiteBox {
    width: 35rem;
  }

  .footerLeftFlex a {
    margin-bottom: 2rem;
  }

  .footerLeftFlex div {
    padding-right: 0;
  }

  .surnameFlex {
    display: block;
  }

  .tinyInput,
  .largeInput {
    height: 4rem;
    width: 25rem;
  }

  .footerInput {
    width: 25rem;
  }

  #whiteBox h3 {
    margin: 0;
  }

  #buttonContact {
    width: 25rem;
  }

  #buttonContact input {
    width: 25rem;
    padding: 0;
  }
}
