@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Michroma&display=swap");
/* font-family: 'Maven Pro', sans-serif;
font-family: 'Michroma', sans-serif;*/

/* reset */
* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* generic */
html {
  background-color: #00040f;
  color: white;
}

h1,
h2,
h3,
a {
  font-family: "Maven Pro", sans-serif;
}

p {
  font-family: "Michroma", sans-serif;
}

.container {
  max-width: 168rem;
  margin: 0 auto;
}

/* Wecome to the Future */
h1 {
  font-size: 7.2rem;
}

p {
  font-size: 2.4rem;
}

main img {
  max-width: 81.6rem;
  max-height: 76.1rem;
}
