@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Michroma&display=swap");
/* font-family: 'Maven Pro', sans-serif;
font-family: 'Michroma', sans-serif;*/

/* reset */
* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* generic */
html {
  background-color: 00040F;
}

h1,
h2,
h3 {
  font-family: "Maven Pro", sans-serif;
}

p {
  font-family: "Michroma", sans-serif;
}

.container {
  max-width: 168rem;
}
