@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Michroma&display=swap');
/* font-family: 'Maven Pro', sans-serif;
font-family: 'Michroma', sans-serif;*/

/*Reset CSS*/
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

/* generic */
html {
    background-color: #00040F;
}
  
h1,h2,h3, a {
    font-family: "Maven Pro", sans-serif;
    font-size: 1rem;
    color: white;
}
  
p {
    font-family: "Michroma", sans-serif;
}

/*Background du menu + menu*/
header{
    background: linear-gradient(
    to bottom,
    #022648 0%,
    hsla(206, 70%, 70%, 0) 100%
  );
    height: 9.44rem;
}

/* Liste menu */
.menu{
    display: flex;
    justify-content: space-between;
    height: inherit;
    max-width: 180.5rem;
    max-height: 9.44rem;
    margin: 0 auto;
    align-items: center;
}

.menu-list{
    display: flex;
    width: 63.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.menu ol {
    display: inline-block;
    padding: 0rem 1.25rem;
}
       
.menu ol a {
    transition: all 0.3s ease 0s;
    font-size: 1.4rem;
}
       
.menu ol a:hover {
    color: #0088a9;
}

/* Petit logo de la société a droite dans le menu */
.taille-logo-nav{
    width: 2.6rem;
}

/* Logo de fléche vers le bas a gauche dans le menu */
.ligne-bas{
    padding-bottom: 0.8rem;
    padding-left: 0.3rem;
}

/* Logo de la société a gauche dans le menu */
.image-menu-logo{
    width: 5rem;
    margin-left: 6.1rem ;
}


/*Container main 1680px = 168rem BODY*/
.container{
    max-width: 168rem;
    margin: 0 auto;
}