@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Michroma&display=swap');

/*Reset CSS*/
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    text-decoration: none;
    list-style: none;
}


/* generic */
html {
    background: url(../assets/img/bg/bg.png);
    background-size: cover;
    background-color: black;
    scroll-behavior: smooth;
}
  
h1,h2,h3,h4,a {
    font-family: "Maven Pro", sans-serif;
    color: white;
    font-size: 2rem;
}
  
p {
    font-family: "Michroma", sans-serif;
    color: white;
    font-size: 2rem;
}


/*Background du menu + menu*/
header {
  height: 6rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  max-width: 180.5rem;
  backdrop-filter: blur(0.8rem);
}

.icon{
  display: none;
}

#check{
  position: absolute;
  display: none;
  margin-right: 1.2rem;
  right: 5%;
}

.menu-list{
  display: flex;
  width: 63.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.menu-list li {
  display: inline-block;
  padding: 0rem 1.25rem;
}
  
.menu-list li a {
  transition: all 0.3s ease 0s;
  font-size: 1.6rem;
}
  
.menu-list li a:hover {
  color: #2ad0fa;
}

.width-logo-nav{
  width: 2.2rem;
}

.arrow-down{
  padding-bottom: 0.8rem;
  padding-left: 0.3rem;
}

.image-menu-logo{
  width: 3rem;
  margin-left: 2rem;
}


/*Container main 1680px = 168rem BODY*/
.container{
  max-width: 168rem;
  margin: 0 auto;
}

.subscriber-flex{
  display: flex;
  gap: 2rem;
}


/*FreeTrail*/
.flex-freetrail{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.spaceBetween{
    margin: 20rem auto;
}

.getstarted{
  position: absolute;
  padding-left: 46.5rem;
  padding-top: 5rem;
}

.trial{
    display: inline;
}

.align-trial{
    display: flex;
    align-items: center;
}

.align-trial p{
   padding-left: 1rem;
   font-size: 1.8rem;
}

.freetrial{
    color: white;
    font-size: 1.8rem;
}

.title-freetrail{
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 10rem;
    margin: 3rem auto;
}

.little-p{
  line-height: 2;
  width: 56rem;
  font-weight: 400;
  font-size: 1.8rem;
}

.generation{
    font-size: 7.2rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#DEF9FA, #33BBCF);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blur-image{
    position: absolute;
    height: 69rem;
    padding-left: 100rem;
    z-index: -1;
}

/* Why Subscribe */
.flex-subs{
  display: flex;
  gap: 1rem;
}

.title-subscribe{
  font-size: 7.2rem;
  margin-bottom: 1rem;
}

.title-subscribe + p{
  font-size: 2rem;
  margin-bottom: 4rem;
}

.bg-grey{
  background-color: #b0b9d130;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.bg-grey h3{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.bg-grey p{
  font-size: 2rem;
}


/* Choose Perfect */
.flexbox-subs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perfect-plan h2{
  font-size: 7.2rem;
  font-weight: 900;
  width: 81.6rem;
  margin-bottom: 4rem;
}

.perfect-plan article{
  background-color: #b0b9d130;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 2rem;
  padding: 3rem;
  width: min-content;
}

.perfect-plan h4{
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

#price{
  font-size: 2.5rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

#price:nth-last-child(){
  font-size: 2.0rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

/* Review */
.bg-review-title h2{
  font-size: 7.5rem;
  font-weight: 400;
}

.para-title{
  font-size: 2rem;
  letter-spacing: -0.096rem;
  margin-bottom: 5rem;
}

.bg-review article{
  background-color: #b0b9d130;
  display: flex;
  padding: 1.6rem;
  gap: 1.6rem;
  border-radius: 2rem;
}
.bg-review p{
  font-size: 2rem;
}

.bg-review h4{
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.bg-review img{
  height: 6.4rem;
  max-height: 6.4rem;
}


/* FAQ */
.container-faq{
  border-radius: 2rem;
  margin-bottom: 2rem;;
}

.FAQ h2{
  font-size: 7.2rem;
  margin: 3.2rem auto;
}

.FAQ img{
  display: list-item
}

.title-faq{
  background-color: rgba(176, 185, 209, 0.30);
  display: flex;
  padding: 3.2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem 2rem 2rem 2rem;
}

.FAQ h3{
  font-size: 3.8rem;
}

/*.click-plus-faq{
  padding: 3.2rem;
  border-bottom: 1rem solid rgba(176, 185, 209, 0.30);
  border-left: 1rem solid rgba(176, 185, 209, 0.30);
  border-right: 1rem solid rgba(176, 185, 209, 0.30);
  border-radius: 0rem 0rem 2rem 2rem;
}*/

/*.FAQ p{
  font-size: 2.4rem;
  letter-spacing: 0.096rem;
  max-width: 120rem;
}*/



/* footer */
footer {
  height: 74rem;
  background-color: black;
}

footer h3 {
  margin-top: 2rem;
  font-size: 4rem;
}

.footerFlex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 74rem;
}

footer h4 {
  font-size: 2.4rem;
}

#leftFooter {
  max-height: 66rem;
}

.footerLeftFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
}

.footerLeftFlex p {
  width: 30rem;
}

.footerLeftFlex div {
  padding-right: 10rem;
  padding-bottom: 5rem;
}

.footerLeftFlex a {
  text-decoration: underline;
  font-size: 2rem;
  font-family: "Michroma", sans-serif;
}

#whiteBox {
  display: flex;
  flex-wrap: wrap;
  width: 78.3rem;
  height: 66rem;
  background-color: rgb(233, 233, 233);
  padding: 5rem;
  border-radius: 1rem;
}

#whiteBox h3 {
  margin-right: 20rem;
}

#buttonContact,
#buttonContact input {
  width: 68rem;
  height: 6.8rem;
}

#buttonContact input {
  color: white;
  background-color: black;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 1rem;
}

#buttonContact input:hover {
  cursor: pointer;
}

.surnameFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blackText {
  color: black;
}

.footerInput {
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 0;
  font-family: "Michroma", sans-serif;
  width: 68rem;
}

.tinyInput {
  height: 6rem;
  width: 33.8rem;
  text-indent: 1rem;
}

.largeInput {
  height: 6rem;
  text-indent: 1rem;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
  padding: 0.7rem 1rem;
}

textarea:focus {
  outline: none;
}

@media only screen and (max-width: 151rem) {
  .footerLeftFlex div {
    padding-bottom: 0.5rem;
  }
}
